- if @form_params["result_no_form"] == sprintf("%d",@latest_result) && @form_params["round_no_form"] == sprintf("%d",@latest_round) && @form_params["round_no_form"] != sprintf("%d",@latest_battle)
  - @page_title = "次回対戦組み合わせ一覧"
- else
  - @page_title = "対戦結果一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      (※1)習得スキルで「アタック 回避」とAND検索をすると、アタックと回避を両方習得しているキャラクターで絞り込むことが出来ます。
      %br
      (※2)使用スキル(対戦全体)で「アタック 回避」とAND検索をすると、使用者を問わず戦闘中に「アタック」と「回避」が両方使われた戦闘結果で絞り込むことが出来ます。
      %br
      (※2)使用スキル(キャラクター)で「アタック 回避」とAND検索をすると、片方のキャラクターが戦闘中に「アタック」と「回避」を両方使った戦闘結果で絞り込むことが出来ます。(なお、「キャラクターAがスキルAとBを使った結果」という絞り込み方は出来ません)
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "大会", params_name: "result_no_form", placeholder: nil)
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "回戦", params_name: "round_no_form", placeholder: nil)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "プレイヤー", params_name: "player_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "ID", params_name: "player_id_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_skill",
                    label: {open: "習得スキルを表示する", close: "習得スキルを表示しない"}, base_first: true)
    %tbody
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "習得スキル ※1", params_name: "skill_concatenate_form", placeholder: "Skill", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_use_skill",
                    label: {open: "使用スキルを表示する", close: "使用スキルを表示しない"}, base_first: true)
    %tbody
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "使用スキル(戦闘全体) ※2", params_name: "all_use_skill_form", placeholder: "Skill", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "使用スキル(キャラクター) ※3", params_name: "chara_use_skill_form", placeholder: "Skill", colspan: 3)

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@matchings)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"大会", default_order: :desc)
      %th= sort_link(@search, :round_no,"回戦", default_order: :desc)
      %th= sort_link(@search, :left_link_no,"キャラクター[ID]", default_order: :desc)
      -if @form_params["show_skill"] == "1"
        %th 習得スキル
      -if @form_params["show_use_skill"] == "1"
        %th 使用スキル
      %th
      -if @form_params["show_use_skill"] == "1"
        %th 使用スキル
      -if @form_params["show_skill"] == "1"
        %th 習得スキル
      %th= sort_link(@search, :right_link_no,"キャラクター[ID]", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @matchings.each do |matching|
      %tr
        %td= matching.result_no
        %td= matching.round_no
        %td.pc_name
          - pc_name_text(matching.left_pc_name)
        -if @form_params["show_skill"] == "1"
          %td{style: "min-width:5rem"}
            - skill_concatenate_text(matching.left_skills.skill_concatenate, @skill_data) if matching.left_skills
        -if @form_params["show_use_skill"] == "1"
          %td{style: "min-width:5rem"}
            - skill_concatenate_text(matching.left_use_skills.skill_concatenate_ex, @skill_data) if matching.left_use_skills
        %td VS
        -if @form_params["show_use_skill"] == "1"
          %td{style: "min-width:5rem"}
            - skill_concatenate_text(matching.right_use_skills.skill_concatenate_ex, @skill_data) if matching.right_use_skills
        -if @form_params["show_skill"] == "1"
          %td{style: "min-width:5rem"}
            - skill_concatenate_text(matching.right_skills.skill_concatenate, @skill_data) if matching.right_skills
        %td.pc_name
          - pc_name_text(matching.right_pc_name)
        %td.sep= battle_link(matching.battle_no, 1)
        %td= battle_link(matching.battle_no, 2)
= paginate(@matchings)
