%h1= site_title
%p
  このサイトでは『
  %a{:href => "https://gameokiba.com/trialandscheme/", :target => "_blank"} 試行策謀
  』を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_round, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
            %li= link_to "キャラクター名・プレイヤー名一覧", names_path
            %br
            %li= link_to "習得スキル一覧", skills_path
            %ul
              %li= link_to "スキル習得者数ランキング", skills_path + "?show_total=1&ex_sort=on"
            %li= link_to "習得スキル組み合わせ一覧", skill_concatenates_path
      .col-md-6
        %ul
          %li 対戦データ
          %ul
            %li= link_to "次回対戦組み合わせ一覧", matchings_path
            %li= link_to "対戦結果一覧", matchings_path + "?is_result=on"

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2022/1/5
      %ul
        %li
          = link_to "習得スキル一覧", skills_path
          に優先度での絞り込み・ソート機能を追加
      %li 2021/11/11
      %li 2022/1/4
      %ul
        %li
          スキル名の上にマウスカーソルが移動した時にスキル情報を表示する機能を追加
      %li 2021/11/11
      %ul
        %li
          = link_to "対戦結果一覧", matchings_path + "?is_result=on"
          での検索において、右側のキャラクターの内容が検索条件にヒットしなくなっていた不具合を修正
      %li 2021/10/10
      %ul
        %li サイト公開
