%h1 試行領域データ小屋
%p
  このサイトでは『
  %a{:href => "http://133.130.112.98/trialarea/", :target => "_blank"} 試行領域
  』を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_round, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
            %li= link_to "キャラクター名・プレイヤー名一覧", names_path
            %br
            %li= link_to "習得スキル一覧", skills_path
            %ul
              %li= link_to "スキル習得者数ランキング", skills_path + "?show_total=1&ex_sort=on"
            %li= link_to "習得スキル組み合わせ一覧", skill_concatenates_path
      .col-md-6
        %ul
          %li 対戦データ
          %ul
            %li= link_to "次回対戦組み合わせ一覧", matchings_path
            %li= link_to "対戦結果一覧", matchings_path + "?is_result=on"

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2020/11/17
      %ul
        %li 
          = link_to "習得スキル組み合わせ一覧", skill_concatenates_path
          に非公開スキルとその位置を追加
        %li 
          = link_to "対戦結果一覧", matchings_path + "?is_result=on"
          %ul
            %li 
              スキル使用回数を表示
            %li
              使用スキルで非公開スキルだったものを太字で表示
      %li 2020/11/13
      %ul
        %li 
          = link_to "次回対戦組み合わせ一覧", matchings_path
          を公開
        %li 
          = link_to "対戦結果一覧", matchings_path + "?is_result=on"
          を公開
      %li 2020/11/7
      %ul
        %li サイト公開
