!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag

    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css", media: "all"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-light.navbar-custom.p-0
      .container
        = link_to "試行領域データ小屋", root_path, :class => "navbar-brand"
        %button.navbar-toggler{type: "button", data: {bs: {toggle: "collapse", target: "#navbarNavDropdown"}}, aria: {controls: "navbarNavDropdown", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavDropdown
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                個人データ
                %span.caret
              .dropdown-menu
                = link_to "キャラクター名・プレイヤー名一覧", names_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "習得スキル一覧", skills_path, class: "dropdown-item"
                = link_to ">　スキル習得者数ランキング", skills_path + "?show_total=1&ex_sort=on", class: "dropdown-item"
                = link_to "習得スキル組み合わせ一覧", skill_concatenates_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                対戦データ
                %span.caret
              .dropdown-menu
                = link_to "次回対戦組み合わせ一覧", matchings_path, class: "dropdown-item"
                = link_to "対戦結果一覧", matchings_path + "?is_result=on", class: "dropdown-item"

    .container
      .row
        .col-md-12
          - uploading_alert(@latest_result, @uploaded_result)
          = yield
      
      %footer
        %p
          制作#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", privacy_path
          %br
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/trialarea_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/trialarea_rails"}]
          %br
          #{link_to "次ゲーム：試行策謀データ小屋", "https://data.teiki.org/trialandscheme/"}
          %br
          = link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"
      = render "layouts/analytics"
